body
{
background-color:pink;
color:#970e80;
font-family:"Century Gothic";
}

h1 {
font-size:350%;
line-height:10%;
}

h6
{
font-size:120%;
line-height:10%;
}

header
{
text-align:center;
}

h5
{
font-size:150%;
background-color:#EED5EC;
display:inline-block;

}
p
{
font-weight:bold;
width:89%;
text-align:justify;
}

details
{
width:75%;
text-align:justify;

}

nav,td
{
font-size:150%;
}

a
{
color:black;
}

h3
{font-size:200%;
}

th
{
font-size:170%
}